html{
    background-color: aliceblue;
}

.top {
    //background-color: antiquewhite;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.hang-man{
    
    background-image: url("assets/hangman0.png");
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    flex: 1;
    background-size: contain;
}

.guess{
    //background-color: rgb(212, 172, 172);
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: monospace;
}
.bot{
    display: flex;
    position: relative;
}
.chars{
    //background-color: burlywood;
    height: 50vh;
    margin: auto;
    display: flex;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
}

.keys{
    display: flex;
    background-color: cornsilk;
    padding: 2px;
    height: 1em;
    width: 1em;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 5px;
    //transition: all 1s cubic-bezier(.3,-0.26,.36,.89);
    transition: all 0.5s ease-in-out;
}

/*@keyframes example {
    5%   {
        transform: translate(20px, -15px);
    }

    100% {
        transform: translateY(500px)  rotateX(600deg);
        opacity: 0;
    }
}*/
.keys.excluded{
    opacity: 0;
    text-decoration: line-through;
    //transform: translateY(500px);
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.buttons {
    position: absolute;
    font-size: 40px;
    left: 20px;
}
#new-game {
    font-size: 20px;
    font-family: Comic Sans MS;
}

.stats{
    position: absolute;
    font-size: 30px;
    float: right;
    right: 5px;
    font-family: Comic Sans MS;
}